body {
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
p, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'custom_font';
    font-weight: normal;
    font-style: normal;
    color: black!important;
}
a:hover {
    color: rgb(15, 117, 188)!important;
}
.offset_left {
    margin-left: 3%;
}

.offset_right {
    margin-right: 3%;
}
.hr_nav {
    margin: 0 3%;
    height: 2px!important;
    opacity: 100%;
}
/* Sign In & Up */
.sign_wrapper {
    margin: 2% 5% auto;
    display: flex;
    justify-content: space-evenly;
}
.left {
    width: 30%;
}
.middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 65vh;
}
.right {
    width: 30%;
}

.footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}