body {
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 5px;
}
p, a, h1, h2, h3, h4, h5, h6, button, label, ol {
    font-family: 'custom_font';
    font-weight: normal;
    font-style: normal;
}
p, a, h1, h2, h3, h4, h5, h6 {
    color: black!important;
}
input {
    font-family: 'custom_font';
    font-size: 14px!important;
}
small {
    font-family: 'custom_font';
    font-size: 10px!important;
}
button {
    color: white!important;
    background-color: rgb(15, 117, 188)!important;
}

a:hover {
    color: rgb(15, 117, 188)!important;
}
.offset_left {
    margin-left: 3%;
}

.offset_right {
    margin-right: 3%;
}
.hr_nav {
    margin: 0 3%;
    height: 2px!important;
    opacity: 100%;
    color: rgb(191, 30, 45);
}
/* Sign In & Up */
.sign_wrapper {
    margin: 2% 5% auto;
    display: flex;
    justify-content: space-evenly;
}
.left {
    width: 30%;
}
.middle {
    border-left: 1px solid rgb(191, 30, 45);
    border-right: 1px solid rgb(191, 30, 45);
    height: 74vh;
}
.right {
    width: 30%;
}

.model_wrapper {
    margin: 1% 3% auto;
}
.thing {
    border: 1px solid black;
    border-radius: 3px;
}

.smol {
    padding: 0!important;
    margin: 0!important;
    width: 6%;
    opacity: 100;
}

.footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}
.thingy2 {
    width: 20px;
    height: 20px;
    background-color: orange;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.thing_wrapper {
    margin-top: 10%;
    margin-left: 3%;
    display: flex;
    justify-content: space-evenly;
}
.thing_wrapper2 {
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    justify-content: space-evenly;
}
.thing_left {
    width: 19%;
    margin-top: 10%;
}
.thing_right2 {
    width: 19%;
    margin-top: 10%;
}
.thing_hr {
    width: 30%;
    height: 2px!important;
    opacity: 100;
    color: orangered;
}
.thing_right {
    width: 40%;
}
.thing_left2 {
    width: 40%;
}
.thing_top {
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 10%;
}
.thing_bottom {
    display: flex;
    /* justify-content: space-evenly; */
    margin-left: 30%;
    margin-top: 15%;
}
.thing_card1, .thing_card3 {
    width: 18rem;
    height: 18rem;
    border: 1px solid #121212;
    border-radius: 1%;
    box-shadow: -50px -50px 5px -30px #121212;
    background-image: url(../../public/apple-touch-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.thing_card2, .thing_card4 {
    width: 18rem;
    height: 18rem;
    margin-left: 10%;
    margin-top: -10%;
    border: 1px solid #121212;
    border-radius: 1%;
    box-shadow: -50px -50px 5px -30px #121212;
    background-image: url(../../public/apple-touch-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.thing_card1 h4, .thing_card2 h4, .thing_card4 h4 {
    color: rgb(15, 117, 188)!important;
}

.thing_card1 p, .thing_card2 p, .thing_card4 p {
    color: rgb(191, 30, 45)!important;
}
